@tailwind base;
@tailwind components;
@tailwind utilities;

.hide{
  transition: height 500ms;
  height:0;
  visibility: hidden;
}
.show{
  transition: height 500ms; 
  height:150px;
  display: flex;
  justify-content: center;
}
.card{
  visibility: hidden;
}